extends layout

block content
    h1.
        Summary of taks
    ul
        each user, i in todolist
            li
                p <b>Assigned To</b>: #{user.username} <b>Task</b>: #{user.listitem}
    
    p <b>Add New</b>
    form#formAddUser(name="adduser",method="post",action="/todolist")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputItem(type="text", placeholder="item", name="todoitem")
        button#btnSubmit(type="submit") submit